body {
    font-family: 'Open Sans', 'Tahoma', 'Arial', sans-serif;
}

header {
    width: 70%;
    height: 120px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-items: center;
}

main {
    margin: 0;
    width: 70%;
    margin: auto;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #00d053;
}

p {
    text-decoration: none;
    background-color: #1da1f2;
    font-weight: 700;
    color: white;
}

.logo {
    width: 70%;
}

.item-id {
    width: 30%;
    height: 50px;
    min-width: 150px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1da1f2;
    color: white;
    font-weight: 700;
}

.item-data{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.item-price-location{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.item-price {
    font-size: 25px;
    color: #1da1f2;
    font-weight: 600;
}

.item-location {
    font-size: 25px;
    color: #1da1f2;
    font-weight: 500;
}

.item-image{
    width: 400px;
    height: 300px;
    background-size: cover;
}

.item-name {
    width: 50%;
    margin: auto;
    margin-top: 3px;
    height: 40px;
    font-size: 25px;
    font-weight: 500;
    color: #1da1f2;
    overflow: hidden;
    text-align: center;
}

.item-description{
    overflow: hidden;
    height: auto;
    text-align: center;
    font-size: 18px;
    color: grey;
    width: 50%;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 20%;
    justify-content: center;
}

.delete {
    width: 300px;
    height: 50px;
    text-align: center;
    background-color: #1da1f2;
    border-style: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.go-to-main {
    width: 300px;
    height: 50px;
    text-align: center;
    background-color: #1da1f2;
    border-style: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
}